/*CSS PRINCIPAL*/

body {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  margin-left: -40px;
}

a:hover {
  background-color: rgb(162, 162, 169);
}

/*CSS PAR SECTION*/

/*HEADER*/

header {
  background-color: #b3b3b3;
  padding: 20px;
  top: 0;
  width: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

nav a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

/*MAIN*/

h1 {
  margin-top: 100px;
  visibility: hidden;
}

#ancre1 {
  margin-top: -100px;
}

#container1 {
  display: flex;
  align-items: start;
  margin: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.presentation {
  margin-top: 120px;
}

.item {
  margin: 30px;
}

#pdf {
  text-align: center;
  background-color: #a0a2ce;
  width: 300px;
  height: 100px;
  margin-left: 38%;
}

#pdf a {
  color: black;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  line-height: 18vh;
}

h2 {
  margin-top: 60px;
  font-size: 50px;
}

h3 {
  font-size: 30px;
  background-color: black;
  color: white;
  margin-top: 60px;
}

#collectif {
  width: 650px;
}

#manette {
  width: 300px;
  margin-top: -18px;
}

#web {
  width: 300px;
  margin-top: 40px;
}

#github {
  width: 100px;
}

#linkgithub {
  background-color: transparent;
}

#language {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

#logo {
  object-fit: cover;
  height: 100px;
}

.comp1 {
  text-align: center;
  margin-right: 550px;
  margin-top: 50px;
}

.comp2 {
  text-align: center;
  margin-left: 550px;
  margin-top: 50px;
}

#formation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#baces {
  text-align: left;
}

#diplome {
  width: 200px;
}

.pro {
  display: flex;
  align-items: center;
}

.ipro {
  width: 200px;
  margin-top: 50px;
}

#hobbies {
  display: flex;
  justify-content: space-evenly;
}

.loisir {
  width: 200px;
}

/*FOOTER*/

footer {
  background-color: #b3b3b3;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#linklinkedin {
  background-color: transparent;
}

footer a img {
  width: 50px;
  height: 50px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
  header {
    visibility: hidden;
  }

  #ancre1 {
    margin-top: -200px;
  }

  #container1 {
    flex-wrap: wrap;
  }

  #pdf {
    margin-left: 100px;
  }

  #collectif {
    width: 470px;
  }

  #language {
    flex-direction: column;
  }

  #logo {
    margin-top: 30px;
  }

  .comp1,
  .comp2 {
    margin: 0;
    margin-top: 60px;
  }

  #baces {
    text-align: center;
  }

  .ipro {
    margin: 0;
  }

  #hobbies {
    flex-wrap: wrap;
  }
}
